@use '@angular/material' as mat;
@use "sass:map";

$V200: map.get(mat.$violet-palette, 900);
$V175: map.get(mat.$violet-palette, 800);
$V150: map.get(mat.$violet-palette, 700);
$V125: map.get(mat.$violet-palette, 600);
$V100: map.get(mat.$violet-palette, 500);
$V75: map.get(mat.$violet-palette, 400);
$V50: map.get(mat.$violet-palette, 300);
$V25: map.get(mat.$violet-palette, 200);
$V10: map.get(mat.$violet-palette, 100);
$V05: map.get(mat.$violet-palette, 50);

// $I200: map.get(mat.$indigo-palette, 500);
// $I200: map.get(mat.$indigo-palette, 900);
// $I175: map.get(mat.$indigo-palette, 800);
// $I150: map.get(mat.$indigo-palette, 700);
// $I125: map.get(mat.$indigo-palette, 600);
// $I100: map.get(mat.$indigo-palette, 500);
// $I75: map.get(mat.$indigo-palette, 400);
// $I50: map.get(mat.$indigo-palette, 300);
// $I25: map.get(mat.$indigo-palette, 200);
// $I10: map.get(mat.$indigo-palette, 100);
// $I05: map.get(mat.$indigo-palette, 50);

// $P200: map.get(mat.$pink-palette, 900);
// $P175: map.get(mat.$pink-palette, 800);
// $P150: map.get(mat.$pink-palette, 700);
// $P125: map.get(mat.$pink-palette, 600);
// $P100: map.get(mat.$pink-palette, 500);
// $P75: map.get(mat.$pink-palette, 400);
// $P50: map.get(mat.$pink-palette, 300);
// $P25: map.get(mat.$pink-palette, 200);
// $P10: map.get(mat.$pink-palette, 100);
// $P05: map.get(mat.$pink-palette, 50);

// $G200: map.get(mat.$grey-palette, 900);
// $G175: map.get(mat.$grey-palette, 800);
// $G150: map.get(mat.$grey-palette, 700);
// $G125: map.get(mat.$grey-palette, 600);
// $G100: map.get(mat.$grey-palette, 500);
// $G75: map.get(mat.$grey-palette, 400);
// $G50: map.get(mat.$grey-palette, 300);
// $G25: map.get(mat.$grey-palette, 200);
// $G10: map.get(mat.$grey-palette, 100);
// $G05: map.get(mat.$grey-palette, 50);

