@use '@angular/material' as mat;

html {
    height: 100%;
    @include mat.theme((color:(
                primary: mat.$red-palette,
                theme-type: light,
            ),
            typography: Roboto,
            density: -4,
        ));
}

:root {
    --mat-sys-primary: #ee171f;
    --mat-sys-surface-tint: #ee171f;
    --mat-sys-tertiary: #ee171f;
    --mat-sys-secondary: #525252;
    --ngx-editor-placeholder-color: #525252 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-surface-container);
}

* {
    box-sizing: border-box;
}

.ng-fa-icon {
    font-size: 20px;
    color: var(--mat-sys-secondary);
}