@use '@angular/material' as mat;

html {
    height: 100%;
    @include mat.theme((color: (primary: mat.$magenta-palette,
                tertiary: mat.$violet-palette,
                theme-type: light,
            ),
            ba typography: Roboto,
            density: -2,
        ));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-surface-container);
}

* {
    box-sizing: border-box;
}

.ng-fa-icon {
    font-size: 20px;
}