.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 1rem;

    .title {
        margin: 0;
        color: var(--mat-sys-on-primary-container);
    }
}