.chat-answer-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    color: rgba(0, 0, 0, 0.54);

    .chat-answer-empty-icon {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

}